@font-face{font-family:'Poppins';src:url('file:///root/.fonts/f_738c505f.ttf');font-weight:400}
@font-face{font-family:'Poppins';src:url('file:///root/.fonts/f_5f25b7ae.ttf');font-weight:600}
@font-face{font-family:'Poppins';src:url('file:///root/.fonts/f_4f3140af.ttf');font-weight:800}
@font-face{font-family:'SairaC';src:url('file:///root/.fonts/f_36963ae2.ttf');font-weight:700}
@font-face{font-family:'SairaC';src:url('file:///root/.fonts/f_04c60fec.ttf');font-weight:900}
@font-face{font-family:'BarlowC';src:url('file:///root/.fonts/f_26b54223.ttf');font-weight:600}
@font-face{font-family:'BarlowC';src:url('file:///root/.fonts/f_572d6d13.ttf');font-weight:800}
